/* You can add global styles to this file, and also import other style files */

@import 'assets/bootstrap.css';
html,
body {
    height: 100% !important;
    width: 100% !important;
}

#zmmtg-root {
    display: none;
    width: 80% !important;
}

#wc-content {
    width: 80% !important;
}

.join-dialog {
    width: 80% !important;
}

.ReactModal__Overlay--after-open {
    width: 80% !important;
}

#wc-container-right {
    right: 500px !important;
    z-index: 1;
}


/* #wc-container-left {
    width: 100% !important;
}

.show-participants {
    width: 100% !important;
}

.meeting-client {
    width: 80% !important;
}

.meeting-app {
    width: 100% !important;
}

.root-inner {
    width: 100% !important;
}

.ReactModal__Body--open {
    width: 80% !important;
}

.main-layout {
    width: 80% !important;
}

.ReactModal__Body--open {
    width: 80% !important;
}

.meeting-client-inner {
    width: 80% !important;
} */