<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Zoom WebSDK Sample Angular</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/distfinal/styles.css">
</head>

<body>
    <app-root></app-root>
    <script src="/distfinal/runtime.js" defer></script>
    <script src="/distfinal/polyfills.js" defer></script>
    <script src="/distfinal/vendor.js" defer></script>
    <script src="/distfinal/main.js" defer></script>
</body>

</html>