<!-- <h1>Hello Doctor </h1>
<br>
<div class="card col-lg-6">
    <div>
        <form [formGroup]="form">
            <label for="userName">Enter your User name</label>
            <input type="text" class="form-control" id="userName" placeholder="Enter your username" formControlName="userName">
            <div *ngIf="formControls.userName.dirty && formControls.userName.invalid || 
                    formControls.userName.touched && formControls.userName.invalid" style="color:red;">
                <div *ngIf="formControls.userName.errors.required"> Username is required.
                </div>
            </div>
            <button (click)="startLiveVideo()">Talk with Patient</button>
        </form>
    </div>
</div> -->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Doctor Login</h5>
        <div class="card col-lg-6 pb-3">
            <div style="padding-top: 10px;">
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label for="userName" class="form-label">Enter User Name</label>
                        <input type="email" class="form-control" id="userName" formControlName="userName" aria-describedby="userNameHelp">
                        <div *ngIf="formControls.userName.dirty && formControls.userName.invalid || 
                        formControls.userName.touched && formControls.userName.invalid" style="color:red;" id="userNameHelp" class="form-text">Username is required.</div>
                    </div>
                    <button class="btn btn-primary" (click)="startLiveVideo()">Talk with Patient</button>
                </form>
            </div>
        </div>
    </div>
</div>